*~
*.swp
*.swo
*.o
reindex
*.html
tags
genmobi.sh
*.mobi
*.stp
go
ctags
nginx
*.svg
*.bt
*.cbt
*.pyc
lj
t/servroot
.idea
dev
xdev
dlua/
.DS_Store
docker_build/
cmake-build-debug/

.gdb_history
.DS_Store
build
app
docker
t/weibo-mesh-runpath/*
